@import '../../common/stylus/mixin.styl'
.nav ul
  display flex
  width 100%
  line-height 40px
  li
    flex 1
    text-align center
    color rgb(77, 88, 93)
    cursor pointer
    border-1px(rgba(7,17,27,.1))
    &.active
      color rgb(240, 20, 20)


