body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1 {
  position:absolute;
  left:10px;
  top:164px;
  width:614px;
  height:1205px;
}
#u2 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u3 {
  position:absolute;
  left:0px;
  top:82px;
  width:50px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u5 {
  position:absolute;
  left:70px;
  top:96px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:40px;
  top:260px;
  width:546px;
  height:970px;
}
#u8 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:291px;
}
#u10 {
  position:absolute;
  left:40px;
  top:260px;
  width:546px;
  height:290px;
}
#u11 {
  position:absolute;
  left:2px;
  top:137px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u12 {
  position:absolute;
  left:72px;
  top:342px;
  width:482px;
  height:128px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u13 {
  position:absolute;
  left:0px;
  top:50px;
  width:482px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u15 {
  position:absolute;
  left:43px;
  top:613px;
  width:270px;
  height:160px;
}
#u16 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:94px;
  top:677px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u20 {
  position:absolute;
  left:313px;
  top:613px;
  width:270px;
  height:160px;
}
#u21 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:364px;
  top:677px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u25 {
  position:absolute;
  left:43px;
  top:774px;
  width:270px;
  height:160px;
}
#u26 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u27 {
  position:absolute;
  left:94px;
  top:838px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u30 {
  position:absolute;
  left:313px;
  top:774px;
  width:270px;
  height:160px;
}
#u31 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u32 {
  position:absolute;
  left:364px;
  top:838px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:84px;
}
#u36 {
  position:absolute;
  left:43px;
  top:934px;
  width:540px;
  height:84px;
  font-size:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:34px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u38 {
  position:absolute;
  left:120px;
  top:965px;
  width:140px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:8px;
}
#u40 {
  position:absolute;
  left:91px;
  top:1010px;
  width:198px;
  height:8px;
  font-size:28px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-4px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u42 {
  position:absolute;
  left:350px;
  top:964px;
  width:140px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:43px;
  top:1176px;
  width:543px;
  height:542px;
}
#u45 {
  position:absolute;
  left:2px;
  top:263px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:156px;
}
#u48 {
  position:absolute;
  left:44px;
  top:1021px;
  width:269px;
  height:155px;
}
#u49 {
  position:absolute;
  left:2px;
  top:70px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u50 {
  position:absolute;
  left:59px;
  top:1064px;
  width:237px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u51 {
  position:absolute;
  left:0px;
  top:20px;
  width:237px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u53 {
  position:absolute;
  left:314px;
  top:1024px;
  width:260px;
  height:150px;
  font-size:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:67px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u55 {
  position:absolute;
  left:325px;
  top:1035px;
  width:238px;
  height:123px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u57 {
  position:absolute;
  left:431px;
  top:1139px;
  width:26px;
  height:23px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u59 {
  position:absolute;
  left:395px;
  top:1139px;
  width:26px;
  height:23px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u61 {
  position:absolute;
  left:467px;
  top:1139px;
  width:26px;
  height:23px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:156px;
}
#u65 {
  position:absolute;
  left:46px;
  top:1182px;
  width:269px;
  height:155px;
}
#u66 {
  position:absolute;
  left:2px;
  top:70px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u67 {
  position:absolute;
  left:61px;
  top:1225px;
  width:237px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u68 {
  position:absolute;
  left:0px;
  top:20px;
  width:237px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u70 {
  position:absolute;
  left:316px;
  top:1185px;
  width:260px;
  height:150px;
  font-size:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:67px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u72 {
  position:absolute;
  left:327px;
  top:1196px;
  width:238px;
  height:123px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u74 {
  position:absolute;
  left:397px;
  top:1288px;
  width:26px;
  height:23px;
}
#u75 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u76 {
  position:absolute;
  left:433px;
  top:1288px;
  width:26px;
  height:23px;
}
#u77 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u78 {
  position:absolute;
  left:469px;
  top:1288px;
  width:26px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:2px;
  top:-36px;
  width:22px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:156px;
}
#u82 {
  position:absolute;
  left:44px;
  top:1343px;
  width:269px;
  height:155px;
}
#u83 {
  position:absolute;
  left:2px;
  top:70px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u84 {
  position:absolute;
  left:59px;
  top:1386px;
  width:237px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u85 {
  position:absolute;
  left:0px;
  top:20px;
  width:237px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u87 {
  position:absolute;
  left:314px;
  top:1346px;
  width:260px;
  height:150px;
  font-size:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:67px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u89 {
  position:absolute;
  left:325px;
  top:1357px;
  width:238px;
  height:123px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u91 {
  position:absolute;
  left:395px;
  top:1449px;
  width:26px;
  height:23px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u93 {
  position:absolute;
  left:431px;
  top:1449px;
  width:26px;
  height:23px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u95 {
  position:absolute;
  left:467px;
  top:1449px;
  width:26px;
  height:23px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:156px;
}
#u99 {
  position:absolute;
  left:44px;
  top:1504px;
  width:269px;
  height:155px;
}
#u100 {
  position:absolute;
  left:2px;
  top:70px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u101 {
  position:absolute;
  left:59px;
  top:1547px;
  width:237px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u102 {
  position:absolute;
  left:0px;
  top:20px;
  width:237px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u104 {
  position:absolute;
  left:314px;
  top:1507px;
  width:260px;
  height:150px;
  font-size:20px;
}
#u105 {
  position:absolute;
  left:2px;
  top:67px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u106 {
  position:absolute;
  left:325px;
  top:1518px;
  width:238px;
  height:123px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u108 {
  position:absolute;
  left:395px;
  top:1610px;
  width:26px;
  height:23px;
}
#u109 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u110 {
  position:absolute;
  left:431px;
  top:1610px;
  width:26px;
  height:23px;
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u112 {
  position:absolute;
  left:467px;
  top:1610px;
  width:26px;
  height:23px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:156px;
}
#u116 {
  position:absolute;
  left:44px;
  top:1668px;
  width:269px;
  height:155px;
}
#u117 {
  position:absolute;
  left:2px;
  top:70px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u118 {
  position:absolute;
  left:59px;
  top:1711px;
  width:237px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u119 {
  position:absolute;
  left:0px;
  top:20px;
  width:237px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121 {
  position:absolute;
  left:314px;
  top:1671px;
  width:260px;
  height:150px;
  font-size:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:67px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u123 {
  position:absolute;
  left:325px;
  top:1682px;
  width:238px;
  height:123px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u125 {
  position:absolute;
  left:395px;
  top:1774px;
  width:26px;
  height:23px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u127 {
  position:absolute;
  left:431px;
  top:1774px;
  width:26px;
  height:23px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u129 {
  position:absolute;
  left:467px;
  top:1774px;
  width:26px;
  height:23px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u131 {
  position:absolute;
  left:240px;
  top:1833px;
  width:178px;
  height:55px;
  font-size:18px;
}
#u132 {
  position:absolute;
  left:2px;
  top:16px;
  width:174px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u133 {
  position:absolute;
  left:534px;
  top:1074px;
  width:29px;
  height:50px;
  color:#999999;
}
#u134 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u135 {
  position:absolute;
  left:534px;
  top:1240px;
  width:29px;
  height:50px;
  color:#999999;
}
#u136 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u137 {
  position:absolute;
  left:534px;
  top:1397px;
  width:29px;
  height:50px;
  color:#999999;
}
#u138 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u139 {
  position:absolute;
  left:534px;
  top:1557px;
  width:29px;
  height:50px;
  color:#999999;
}
#u140 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u141 {
  position:absolute;
  left:534px;
  top:1730px;
  width:29px;
  height:50px;
  color:#999999;
}
#u142 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u144 {
  position:absolute;
  left:43px;
  top:1898px;
  width:270px;
  height:160px;
}
#u145 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u146 {
  position:absolute;
  left:105px;
  top:1962px;
  width:104px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u149 {
  position:absolute;
  left:323px;
  top:1898px;
  width:270px;
  height:160px;
}
#u150 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u151 {
  position:absolute;
  left:374px;
  top:1962px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u154 {
  position:absolute;
  left:313px;
  top:1898px;
  width:270px;
  height:160px;
}
#u155 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u156 {
  position:absolute;
  left:369px;
  top:1962px;
  width:104px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u159 {
  position:absolute;
  left:43px;
  top:2062px;
  width:270px;
  height:160px;
}
#u160 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u161 {
  position:absolute;
  left:98px;
  top:2126px;
  width:105px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:160px;
}
#u164 {
  position:absolute;
  left:315px;
  top:2061px;
  width:278px;
  height:160px;
}
#u165 {
  position:absolute;
  left:2px;
  top:72px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u166 {
  position:absolute;
  left:396px;
  top:2125px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u168 {
  position:absolute;
  left:522px;
  top:572px;
  width:32px;
  height:31px;
}
#u169 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:63px;
}
#u172 {
  position:absolute;
  left:43px;
  top:550px;
  width:540px;
  height:63px;
}
#u173 {
  position:absolute;
  left:2px;
  top:24px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u174 {
  position:absolute;
  left:53px;
  top:561px;
  width:425px;
  height:42px;
  font-size:20px;
}
#u175 {
  position:absolute;
  left:2px;
  top:13px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u176 {
  position:absolute;
  left:69px;
  top:566px;
  width:409px;
  height:37px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u177 {
  position:absolute;
  left:0px;
  top:6px;
  width:409px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u178 {
  position:absolute;
  left:508px;
  top:558px;
  width:46px;
  height:45px;
}
#u179 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u181 {
  position:absolute;
  left:239px;
  top:1275px;
  width:140px;
  height:140px;
}
#u182 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u183 {
  position:absolute;
  left:254px;
  top:1413px;
  width:113px;
  height:34px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u191 {
  position:absolute;
  left:43px;
  top:2222px;
  width:546px;
  height:90px;
}
#u192 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u193 {
  position:absolute;
  left:43px;
  top:2222px;
  width:141px;
  height:90px;
}
#u194 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u195 {
  position:absolute;
  left:89px;
  top:2227px;
  width:50px;
  height:50px;
}
#u196 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u197 {
  position:absolute;
  left:91px;
  top:2277px;
  width:44px;
  height:29px;
  font-size:20px;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u199 {
  position:absolute;
  left:218px;
  top:2227px;
  width:50px;
  height:50px;
}
#u200 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:203px;
  top:2282px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u203 {
  position:absolute;
  left:350px;
  top:2227px;
  width:50px;
  height:50px;
}
#u204 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u205 {
  position:absolute;
  left:329px;
  top:2282px;
  width:104px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u207 {
  position:absolute;
  left:494px;
  top:2227px;
  width:50px;
  height:50px;
}
#u208 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u209 {
  position:absolute;
  left:481px;
  top:2282px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
