.sr-only {
  display: none;
}

.iframe-bridge-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.protocol-container,
.reset-password-container,
.change-password-container,
.user-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 800
}

.reset-password-container,
.change-password-container {
  top: 0;
  left: 100%;
  background-color: #f3f8f9;
  z-index: 888
}

.login-container,
.register-container {
  width: 100%;
  height: 100%;
}

.login-toolbar,
.register-toolbar {
  height: 48px;
  padding: 0 15px;
  background-color: transparent
}

.toolbar-button {
  display: inline-block;
  height: 100%;
  color: #fff
}

.toolbar-left-icon {
  display: block;
  width: 18px;
  height: 100%;
  background: transparent url(../images/icon/close-white.png) no-repeat left center;
  background-size: 18px;
}

.login-toolbar .toolbar-left-icon {
  background-image: url(../images/icon/close-gray.png);
}

.toolbar-right-icon {
  display: block;
  width: 50px;
  height: 100%;
  background: transparent url(../images/icon/login-button.png) no-repeat left center;
  background-size: 50px auto;
}

.login-toolbar .toolbar-right-icon {
  background-image: url(../images/icon/register-button.png);
}

.right-button {
  float: right;
}

.register-header {
  background-color: #0cb
}

.logo {
  display: block;
  width: 375px;
  max-width: 100%;
  margin: 24px auto 45px;
}

.register-tabs {
  background-color: #0cb
}

.register-tab-item {
  position: relative;
  float: left;
  width: 50%;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
}

.register-tab-item:first-child:after {
  position: absolute;
  top: 0;
  right: -1px;
  content: '';
  width: 1px;
  height: 16px;
  background-color: rgba(255, 255, 255, .6)
}

.register-tab-item.active:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  margin: auto;
  border-top: 0;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  border-bottom: solid 7px #fff;
}

.login-form-container,
.register-form-container {
  padding: 15px 0;
}

.login-input-group,
.register-input-group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 78%;
  padding: 13px 20px;
  margin: 15px auto;
  border: 1px solid #dadada;
  border-radius: 27px;
}

.login-input-group .input-control,
.register-input-group .input-control {
  display: block;
  width: 100%;
  height: 16px;
  font-size: 14px;
  color: #232428;
  line-height: 16px;
  background: transparent;
}

.input-control::-webkit-input-placeholder {
  color: #dadada;
  opacity: 1
}

.login-input-group.get-phone-code,
.register-input-group.get-phone-code {
  padding-right: 102px
}

.get-code-button {
  display: block;
  float: right;
  height: 16px;
  width: 90px;
  padding-left: 10px;
  margin-right: -102px;
  font-size: 14px;
  line-height: 16px;
  color: #0cb;
  border-left: 1px solid #0cb
}

.get-code-button.orange {
  color: #ff7f66;
  border-color: #ff7f66
}

.get-code.disabled,
.get-code-button.disabled {
  color: #999;
  border-color: #999
}

.get-code-button.disabled span {
  display: inline-block;
  width: 18px;
  text-align: right;
}

.login-button,
.register-button {
  clear: both;
  display: block;
  width: 78%;
  margin: 25px auto 0;
  letter-spacing: 2px;
  background-color: #0cb;
  box-shadow: 1px 1px 1px;
}

.primary-button {
  height: 44px;
  background-color: #0cb;
  box-shadow: 0 0 8px #0cb;
  border-radius: 22px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.get-protocol-button {
  margin-top: 35px;
  color: #999;
  text-align: center;
}

.get-protocol-button a {
  font-size: 13px;
  color: #0cb
}

.forget-password {
  float: right;
  margin: -5px 14% 40px 0;
  font-size: 13px;
  color: #0cb;
  text-align: right;
}

.password-login,
.cellphone-fast-login {
  margin: 25px auto;
  text-align: center
}

.password-login a,
.cellphone-fast-login a {
  color: #0cb
}

.indicator-container,
.alert-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 999;
  /* 取消可点击区域视觉反馈效果 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.indicator-wrapper,
.alert-wrapper {
  display: none;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  width: 260px;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.indicator-wrapper {
  top: 0;
  bottom: 0;
  width: 140px;
  height: 140px;
  margin: auto;
}

.alert-header {
  padding: 10px 0 5px;
  font-weight: bold
}

.alert-content {
  width: 220px;
  padding: 0 15px 20px;
  margin: 0 auto;
  font-size: 13px;
  color: #232428;
  font-weight: 350
}

.alert-footer {
  padding: 0;
  text-align: center;
  border-top: 1px solid #f4f4f4;
}

.alert-btn {
  display: inline-block;
  padding: 8px 0;
  color: #0cb;
  font-weight: bold;
  border-left: 1px solid #f4f4f4;
}

.alert-footer .alert-btn:first-child {
  border: none;
}

.btn-column-1 {
  width: 100%;
}

.alert-footer .btn-column-3 {
  width: 80px;
}

.alert-footer .btn-column-3:first-child {
  border: none;
}

.btn-column-2 {
  width: 120px;
}


/*css3 加载动画 1*/

.spinner-01 {
  width: 120px;
  margin: 35px auto 5px;
  text-align: center;
}

.spinner-text {
  display: inline-block;
  color: #0cb
}

.spinner-01>div {
  width: 24px;
  height: 24px;
  margin: 0 3px;
  background-color: #0cb;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay-01 1.4s infinite ease-in-out;
  animation: bouncedelay-01 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bouncedelay-01 {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bouncedelay-01 {
  0%,
  80%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*css3 加载动画 2*/

.spinner-02 {
  margin: 25px auto 15px;
  width: 40px;
  height: 40px;
  position: relative;
}

.container1>div,
.container2>div,
.container3>div {
  width: 12px;
  height: 12px;
  background-color: #0cb;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay-02 1.2s infinite ease-in-out;
  animation: bouncedelay-02 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner-02 .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 {
  top: 0;
  left: 0;
}

.circle2 {
  top: 0;
  right: 0;
}

.circle3 {
  right: 0;
  bottom: 0;
}

.circle4 {
  left: 0;
  bottom: 0;
}

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay-02 {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bouncedelay-02 {
  0%,
  80%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*css3 加载动画 3*/

.spinner-03 {
  margin: 30px auto 5px;
  width: 120px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner-03>div {
  background-color: #0cb;
  height: 100%;
  width: 6px;
  margin: 0 3px;
  display: inline-block;
  border-radius: 4px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner-03 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-03 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-03 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-03 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}