.bg{background: #f3f8f9;}
.operation-strip{
	line-height: 40px;
	margin: 0 15px;
	color: #00cccb;
	border-bottom: 1px solid #e6e6e6;
}
.operation-strip.edit{
	text-align: right;
}
/*出售记录*/
.record-list{
	position: relative;
  padding-left: 105px;
	margin: 0 15px;
	border-bottom: 1px solid #e6e6e6;
}
.record-list-content{
	padding: 15px 0;
}
.record-list-content>div {
    float: left;
}
.record-list-img {
  width: 105px;
  height: 78px;
  margin-left: -105px;
}
.record-list-img img{
	width: 100%;
	display: block;
}
.record-list-wrapper{
	width: 100%;
  margin-left: 10px;
}
.record-list-name{
	height: 20px;
  margin: 4px 0 8px;
  color: #232428;
  font-size: 15px;
  font-weight: 500;
}
.record-list-curriculum{
	margin-bottom: 6px;
}
.record-list-curriculum,
.reservation-date,
.reservation-address,
.reservation-time{
  color: #999999;
  font-size: 12px;
}

.reservation-date-day{
	display: inline-block;
	line-height: 20px;
	padding: 0 5px;
	border: 1px solid #e6e6e6;
	border-radius: 20px;
}
.reservation-date-day span{
	margin-right: 4px;
}
.record-list-money{
	float: right;
	line-height: 24px;
	padding-right: 10px;
	color: #00cccb;
}
.record-list-time{
	float: right;
	padding-right: 10px;
	font-size: 12px;
	color: #999999;
}
.record-list-name h3{
	float: left;
}
.reservation-time:before{
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background: url(../images/icon/time-icon.png) no-repeat;
	background-size: 100%;
}
.reservation-address:before{
	display: inline-block;
	content: "";
	width: 10px;
	height: 12px;
	margin-right: 0px;
	background: url(../images/icon/address-icon.png) no-repeat;
	background-size: 100%;
}


/*购买记录*/
.record-list-xing{
	float: left;
	margin-left: 5px;
}
.record-list-xing span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/icon/xing.png) no-repeat;
	background-size: 100%;
}
.record-list-xing .xing-active{
	background: url(../images/icon/xing-active.png) no-repeat;
	background-size: 100%;
}
.evaluate-btn{
	float: right;
	margin-right: 10px;
	width: 44px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background: #00CCCB;
	border-radius: 4px;
}
.evaluate-gary{
	background: #c7cdcd;
}
/*出售记录详情*/
.sale-record-detail-container .record-list{
	border-bottom: none;
}
.sale-record-detail-container .record-list-name{
	margin: 0;
}
.brief-introduction{
	line-height: 1.6;
	font-size: 12px;
	color: #999999;
}
/*我的收藏*/
.collection-container .record-list-name{
	margin-top: 6px;
}
.collection-container .record-list-xing{
	margin: -10px 0 10px 0;
	margin-bottom: 10px;
}
.collection-container .record-list-money{
	line-height: 18px;
}
.collection-record-list{
	position: relative;
	padding-left: 150px;
}
.collection-record-list .record-list-img{
	margin-left: -116px;
}
.collection-record-list .record-list-wrapper{
	margin-left: 0;
}
.edit-icon,
.edit-active{
	padding: 15px 0;
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	width: 19px;
	height: 78px;
}
.edit-icon:before,
.edit-active:before{
	display: block;
	content: "";
	width: 19px;
	height: 19px;
	margin-top: 30px;
}
.edit-icon:before{
	background: url(../images/icon/edit-default.png) no-repeat center;
	background-size: 100%;
}
.edit-active:before{
	background: url(../images/icon/edit-active.png) no-repeat center;
	background-size: 100%;
}
.collection-btn{
	width: 100%;
	height: 44px;
	margin: 0 15px;
}

/*对话*/

.dialog-container{
	position: absolute;
  top: 0;
  right: 0;
  bottom: 30px;
  left: 0;
  height: auto;
  overflow-y: scroll;
}
.dialog-section{
	margin: 15px;
}

.dialog-picture {
	width: 60px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.dialog-picture img {
	margin-bottom: 10px;
}
.dialog-content{
	position: relative;
	padding: 10px 15px;
	color: #fff;
	background-color: #00CCCB;
	border-radius: 4px;
}

.dialog-received .dialog-content:before,
.dialog-sended .dialog-content:after{
	display: block;
	content: "";
	position: absolute;
	top:14px;
	width: 0px;
	height:0px;
}

.dialog-received .dialog-content:before{
	left: -7px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 0 solid transparent;
	border-right: 7px solid #00CCCB;
}
.dialog-sended .dialog-content:after{
	right:-7px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 0 solid transparent;
	border-left: 7px solid #00CCCB;
}

.dialog-received{
	padding-left: 70px;
}

.dialog-received .dialog-picture{
	float: left;
	margin-left: -70px;
}
.dialog-sended{
	padding-right: 70px;
}

.dialog-sended .dialog-picture{
	float: right;
	margin-right: -70px;
}
.dialog-date{
	display: block;
	margin: 10px auto 25px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.dialog-input{
	position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 78px;
	padding-right: 70px;
  text-align: center;
  background-color: #f3f8f9;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
}

.reply-text{
	width: 88%;
	height: 55px;
	line-height: 20px;
	padding: 3px 5px;
	margin: 7px 0;
	resize: none;
	outline: none;
	font-size: 14px;
	border:1px solid #E6E6E6;
	border-radius: 3px;
}
.reply-btn{
	float: right;
	margin:26px -55px 16px 0;
	width: 59px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: #fff;
	background: #00CCCB;
	border-radius: 4px;
}
/*服务客户*/
.service-customer-container,
.lecturer-experience-container{
	margin: 0 15px;
}
.service-customer-container textarea,
.lecturer-experience-container textarea{
	width: 100%;
	height: 240px;
	line-height: 1.6;
	margin: 10px 0;
	padding: 5px;
	color: #232428;
	resize: none;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	box-sizing:border-box;
}
.number-words{
	display: inline-block;
	color: #999999;
}
.number-words span{
	color: #ff7f66;
}
.preservation-btn{
	float: right;
	width: 59px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: #fff;
	background: #00CCCB;
	border-radius: 4px;
}

/*个人资料*/
.personal-data-container{
	background: #fff;
}
/*公司类型*/
.company-type-list{
	position: absolute;
	right:0;
	bottom: 0;
	left: 0;
	background: #fff;
}
.company-type-list li{
	margin: 0 15px;
	line-height: 42px;
	text-align: center;
	border-bottom: 1px solid #E6E6E6;
}
.company-type-list li:last-child{
	border-bottom: none;
}
.company-type-active{
	color: #00CCCB;
}
.cancel-icon{
	display: inline-block;
	float: left;
	width: 15px;
	height: 15px;
	margin-left: 30px;
	background: url(../images/icon/cancel-icon.png) no-repeat;
	background-size: 100%;
}
.determine-icon{
	display: inline-block;
	float: right;
	width: 20px;
	height: 15px;
	margin-right: 30px;
	background: url(../images/icon/determine-icon.png) no-repeat;
	background-size: 100%;
}
/*评价*/
.evaluate-wrapper{
	margin:15px 15px 0;
}
.evaluation-details-title{
	margin: 16px 0;
	color: #232428;
	font-size: 15px;
	font-weight: 500;
}
.evaluation-details-title:before{
	display: inline-block;
	content: "";
	width: 7px;
	height: 12px;
	margin-right: 4px;
	background: url(../images/icon/icon-jiao.png) no-repeat;
	background-size: 100%;
}
.evaluation-result li{
	float: left;
	width: 33.33%;
}
.evaluation-result span{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url(../images/icon/edit-default.png) no-repeat;
	background-size: 100%;
	vertical-align:sub;
}
.evaluation-result .evaluation-active{
	background: url(../images/icon/edit-active.png) no-repeat;
	background-size: 100%;
}

.evaluate-wrapper textarea{
	width: 100%;
  height: 170px;
  line-height: 1.6;
  margin-top: 10px;
  padding: 5px;
  color: #232428;
  resize: none;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing:border-box;
}
