html * {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.prevent-callout {
  -webkit-touch-callout: none;
}

html {
  font-size: 14px;
  font-family: "STHeitiSC-Light", "microsoft yahei", "arial, helvetica, sans-serif";
  color: #5a5a5a;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
button {
  padding: 0;
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

a {
  text-decoration: none;
}

a,
input,
textarea {
  color: #5a5a5a;
}

a:focus,
input:focus {
  outline: none;
  background-color: transparent;
}

button[type="button"],
button:focus {
  border: none;
  outline: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.read-more-arrow,
.read-more {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.form-control:-moz-placeholder {
  color: #ccc;
}

.form-control::-moz-placeholder {
  color: #ccc;
}

.form-control:-ms-input-placeholder {
  color: #ccc;
}

.horizontal-input input,
.input-group input,
.section-row input {
  line-height: 1rem;
}

.gray-bg {
  background-color: #f7f7f7;
}

.bidinfo-page-wrapper,
.card-page-wrapper,
.cashed-page-wrapper,
.more-page-wrapper,
.bank-page-wrapper,
.recharge-page-wrapper,
.scroll-wrapper,
.register-page-wrapper,
.login-page-wrapper,
.invest-page-wrapper {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.bidinfo-page-wrapper,
.card-page-wrapper {
  position: absolute;
  top: 3.2857143rem;
  bottom: 0;
  width: 100%;
  height: auto;
}

.bidinfo-page-wrapper {
  bottom: 3.5rem;
}

.card-page-wrapper,
.scroll-wrapper {
  height: auto;
}

.clearfix:before,
.clearfix:after,
.horizontal-input:before,
.horizontal-input:after,
.verification-code:before,
.verification-code:after {
  display: table;
  content: "";
}

.horizontal-input:after,
.verification-code:after,
.clearfix:after {
  clear: both;
}

.sr-only {
  display: none;
}

.btn {
  display: block;
  width: 100%;
  height: 3.1428571rem;
  line-height: 3.1428571rem;
  font-size: 1.1428571rem;
  text-align: center;
  border: none;
  border-radius: .4285714rem;
}

.btn-primary {
  color: #fff;
  background-color: #f9364d;
}

.btn-secondary {
  color: #19c8b7;
}

.btn-soldout,
.btn-disabled {
  color: #fff;
  background-color: #ccc;
  cursor: not-allowed;
}

.table-wrapper {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.page-header {
  padding: 5rem 0;
}

.register-icon,
.login-icon {
  width: 5.2rem;
  height: 5.2rem;
  margin: 0 auto;
  background: transparent url(../images/icons/icons_3x.png) no-repeat right -1.9285714rem;
  background-size: 43.3333333rem auto;
  -webkit-background-size: 43.3333333rem auto;
}

.register-icon {
  background-position: -22.5714286rem -2rem;
}

.register-form,
.login-form {
  padding: 0 2.2857143rem;
}

.verification-code,
.input-group {
  padding: 1rem 0;
  margin-bottom: 0.7142857rem;
  line-height: 1.1428571rem;
  font-size: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

.verification-code {
  padding-right: 7.1428571rem;
}

.verification-code .input-group {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.verification-code .btn-secondary {
  float: right;
  /*position: relative;*/
  padding-left: 1.4285714rem;
  margin-right: -6.5714286rem;
  border-left: 1px solid #e7e7e7;
}

.verification-notice {
  margin: 0.7142857rem 0;
  color: #ccc;
  text-align: right;
  font-size: .8571429rem;
}

.verification-notice a {
  margin-left: .2142857rem;
  text-decoration: underline;
}

.form-control {
  width: 100%;
  line-height: 1rem;
}

.register-btn,
.login-btn {
  padding: 3.3571428rem 0;
}

.load-register {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #f9364d;
}

.btn-group {
  padding-left: 1.6428571rem;
  padding-right: 1.6428571rem;
  margin-bottom: 2.1428571rem;
  margin-top: 1.4285714rem;
}

.cashed-btn,
.recharge-btn {
  padding: 0 1.0714286rem;
}

button.btn {
  letter-spacing: .1rem;
}

.agreement {
  margin: 2.1428571rem auto;
  font-size: 1rem;
  text-align: center;
}

.agreement .read-agreement {
  color: #f9364d;
}

.scroll-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3.5rem;
  left: 0;
}

.footer-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.5rem;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}

.footer-nav {
  display: table;
  width: 100%;
  height: 100%;
}

.footer-nav-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.footer-nav-item a {
  display: block;
  height: 100%;
}

.footer-nav-icon {
  display: block;
  position: relative;
  top: .52rem;
  width: 1.6666667rem;
  height: 2.4285714rem;
  margin: 0 auto;
  background: transparent url(../images/icons/home_3x.png) no-repeat -0.2142857rem bottom;
  background-size: 14.1904762rem auto;
  -webkit-background-size: 14.1904762rem auto;
}

.nav-icon-01 {
  background-position: -0.2142857rem bottom;
}

.nav-icon-02 {
  background-position: -3.4285714rem bottom;
}

.nav-icon-03 {
  background-position: -6.6428571rem bottom;
}

.curr-item .nav-icon-01 {
  background-position: -0.2142857rem -4.6428571rem;
}

.curr-item .nav-icon-02 {
  background-position: -3.4285714rem -4.6428571rem;
}

.curr-item .nav-icon-03 {
  background-position: -6.6428571rem -4.6428571rem;
}

.header-gradient-bg {
  background: -ms-linear-gradient(top, #f9364d, #fa6d62);
  /* IE 10 */
  background: -moz-linear-gradient(top, #f9364d, #fa6d62);
  /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9364d), to(#fa6d62));
  /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9364d), to(#fa6d62));
  /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #f9364d, #fa6d62);
  /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #f9364d, #fa6d62);
  /*Opera 11.10+*/
}

.rate-header {
  position: relative;
  padding-top: 86.1333333%;
  /*Opera 11.10+*/
  /*background: transparent url(../images/rate-header-bg.png) no-repeat 0 0;*/
  /*background-size: 100% auto;*/
}

.rate-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 96%;
  padding-top: 86%;
  margin: auto;
  background: transparent url(../images/rate-yuan.png) no-repeat center center;
  background-size: 100%;
}

.rate-content {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

.rate-content-inner {
  display: table-cell;
  font-size: 1.0714286rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

h1.rate {
  font-size: 5.7857142rem;
  text-shadow: 0 .3571429rem .3571429rem rgba(166, 38, 40, .3);
}

h1.rate span {
  font-size: 2.1428571rem;
}

.advantage {
  padding: 2.7857143rem 0;
}

.advantage .adv-icon {
  display: block;
  width: 4.6758143rem;
  height: 4.6758143rem;
  margin: 0 auto 1.0714286rem;
  background: transparent url(../images/icons/home_3x.png) no-repeat left top;
  background-size: 14.1904762rem auto;
  -webkit-background-size: 14.1904762rem auto;
}

.advantage .secrity-icon {
  background-position: 0.2142857rem 0.2142857rem;
}

.advantage .fast-icon {
  background-position: -4.7142857rem 0.2142857rem;
}

.advantage .purchase-count-icon {
  background-position: -9.7142857rem 0.2142857rem;
}

.advantage h2 {
  font-size: 1.0714286rem;
  font-weight: 400;
}

.advantage h2 small {
  display: block;
  margin-top: 0.5714286rem;
  font-size: 1rem;
  color: #989898;
}

.soldout-list-item {
  padding-left: 1.0714286rem;
  margin: 0.7142857rem auto;
  line-height: 100%;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.soldout-title {
  position: relative;
  padding: 0.85714289rem 1.0714286rem 0.7142857rem 1.7142857rem;
  font-size: 1rem;
  line-height: 1.7142857rem;
  border-bottom: 1px solid #e7e7e7;
}

.soldout-title:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 1.4285714rem;
  height: 1.4285714rem;
  background: transparent url(../images/icons/icons_3x.png) no-repeat -30.1428571rem 0;
  background-size: 34.3333333rem auto;
  -webkit-background-size: 34.3333333rem auto;
}

.soldout-item-info {
  padding: 2.1428571rem 1.0714286rem 2.1428571rem 0;
  font-size: .8571429rem;
}

.soldout-item-info h4 {
  font-weight: 400;
}

.soldout-item-info small {
  display: block;
  margin-top: 0.7142857rem;
  font-size: .8571429rem;
  color: #989898;
}

.soldout-item-rate {
  padding-right: .7142857rem;
  font-size: 1.9142857rem;
  color: #f9364d;
}

.soldout-item-rate span {
  position: relative;
  top: -0.1428571rem;
  padding-left: .1428571rem;
  font-size: .8571429rem;
}

.soldout-item-rate small {
  margin-top: .3571429rem;
  color: #f9364d;
}

.total-money {
  padding-left: .7142857rem;
  border-left: 1px solid #e7e7e7;
}

.focus-item {
  position: relative;
  margin: .7142857rem auto;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.focus-title {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2.1857143rem;
  width: 100%;
  margin: auto;
  z-index: 10;
}

.focus-title h2 {
  display: table-cell;
  font-size: 1.7142857rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.focus-title h2 small {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
}

.focus-thumb {
  position: relative;
  width: 100%;
  padding-top: 37.3333333%;
  height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
}

.load-failed {
  border-top-color: #dadada;
}

.focus-info {
  padding: 0.4285714rem 1.0714286rem;
  margin-top: 1px;
  font-size: .8571429rem;
}

.focus-text {
  display: inline-block;
  position: relative;
  top: -0.2857143rem;
  left: .7142857rem;
  color: #5a5a5a;
}

.focus-icon {
  display: inline-block;
  width: 1.2857143rem;
  height: 1.2857143rem;
  line-height: 0;
  background: transparent url(../images/icons/news_3x.png) no-repeat;
  background-size: 4.0476190rem 1.2857143rem;
}

.activity-icon {
  background-position: 0 0;
}

.coupon-icon {
  background-position: -2.7142857rem 0;
}

.signin-icon {
  background-position: -1.3571429rem 0;
}

.cashed-group,
.recharge-group,
.balance-group {
  position: relative;
  padding: 1rem 1.0714286rem;
  margin-bottom: 0.7142857rem;
  line-height: 1.1428571rem;
  font-size: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.balance-group.inner {
  padding: 1rem 0;
}

.cashed-group .cashed,
.recharge-group .recharge,
.balance-group .balance {
  float: right;
  color: #f9364d;
}

.card-manage-group {
  position: relative;
  padding: 1rem 1.0714286rem;
  margin-top: 0.7142857rem;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.card-manage-group span {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

.card-manage-group span:after,
.card-manage-group span:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  background-color: #f9364d;
}

.card-manage-group span:before {
  top: 50%;
  width: 1rem;
  height: .1428571rem;
  margin-top: -0.0714286rem;
}

.card-manage-group span:after {
  top: .0714286rem;
  left: .4285714rem;
  width: .1428571rem;
  height: 1rem;
}


/*.scroll-content {
  min-height: 100%;
}*/

.invest-wrapper,
.card-manage-group .invest-wrapper {
  min-height: 100%;
  padding: 0 1.0714286rem 4.0714286rem;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}

.invest-input-group {
  padding: 2.3571429rem 0;
  text-align: center;
}

.invest-lable {
  font-size: 1rem;
  margin-bottom: 1.0714286rem;
}

.investment {
  padding-bottom: .5rem;
  font-size: 1.7142857rem;
  text-align: center;
  color: #f9364d;
  appearance: none;
  -webkit-appearance: none;
  border-bottom: 1px dashed #e7e7e7;
}

.invest-table img.income {
  width: 1.5476191rem;
}

.invest-table-lable {
  margin: .5714286rem 0 .8571429rem;
  font-size: .8571429rem;
  color: #989898;
}

.invest-table .money {
  font-size: 1rem;
  color: #f9364d;
}

.invest-bid-info {
  padding: .8571429rem .7142857rem;
  margin-top: 4.2857143rem;
  font-size: 1rem;
  color: #989898;
  line-height: 1.6rem;
  text-align: justify;
  border: 1px solid #e7e7e7;
}

.invest-immediately {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.1428571rem;
  color: #fff;
  line-height: 3.5rem;
  text-align: center;
  background-color: #f9364d;
}

.section-row {
  position: relative;
  padding: 1.0714286rem 1.0714286rem;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-row.first {
  border-top: none;
}

.section-row .read-more {
  left: 1.0714286rem;
  right: 1.0714286rem;
}

.read-more-arrow:after,
.section-row .read-more:after {
  float: right;
  display: block;
  content: "";
  position: relative;
  top: .5714286rem;
  width: 1rem;
  height: 1.7142857rem;
  background: transparent url(../images/icons/icons_3x.png) no-repeat -33.7857143rem 0.3571429rem;
  background-size: 43.3333333rem auto;
  -webkit-background-size: 43.3333333rem auto;
}

.read-more-arrow:after {
  right: 1rem;
}

.horizontal-input {
  padding-left: 7.1428571rem;
  margin-bottom: 0.7142857rem;
}

.horizontal-input.first {
  padding-left: 1.0714286rem;
}

.horizontal-input.first label {
  margin-left: 0;
}

.dynamic-code {
  position: relative;
  padding-right: 7.1428571rem;
}

.dynamic-code a {
  position: absolute;
  right: 1.0714286rem;
  top: .5714286rem;
  display: block;
  padding: .5714286rem;
  font-size: 0.8571429rem;
  color: #fff;
  background-color: #19c8b7;
  border-radius: .2857143rem;
}

.horizontal-input label,
.horizontal-input input {
  float: left;
  display: block;
}

.horizontal-input label {
  margin-left: -6.0714286rem;
}

.bank-btn {
  margin-top: 2.1428571rem;
}

.bank-item {
  position: relative;
  padding: 0 1.0714286rem 0 4.0714286rem;
}

.bank-item-icon {
  width: 2.5rem !important;
  height: 2.5rem !important;
  margin-left: -3rem;
  background-color: #333;
  transition: all linear .2s;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
}

.bank-item-content {
  padding: 1.0714286rem 0;
  border-bottom: 1px solid #e7e7e7;
}

.bank-name {
  margin-bottom: .5rem;
  font-size: 1.0714286rem;
  font-weight: 400;
}

.bank-item-content> div {
  float: left;
}

.bank-info .table-cell {
  text-indent: 1.2rem;
  font-size: .8571429rem;
  color: #989898;
  text-align: left;
}

.bank-info .table-cell span {
  margin-left: .1428571rem;
}

.bank-info .table-cell:first-child {
  text-indent: 0;
}

.add-bank-info {
  margin-top: .7142857rem;
  font-size: .8571429rem;
  color: #989898;
  line-height: 1.6;
  text-align: justify;
}

.account-header {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 77.6%;
  background: transparent url(../images/account-header-bg.png) no-repeat left top;
  background-size: cover;
  -webkit-background-size: cover;
}

.account-wrapper {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  margin-top: -5.9285714rem;
}

.account-content {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.portrait {
  display: inline-block;
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 0;
  border: .3571429rem solid #fc7d8c;
  border-radius: 50%;
}

.portrait:after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.7142857rem;
  transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  border-top: .5714286rem solid #fc7d8c;
  border-left: .3571429rem solid transparent;
  border-right: .3571429rem solid transparent;
}

.portrait img {
  border-radius: 50%;
}

.account-username {
  margin-top: .5714286rem;
  font-size: 1rem;
}

.account-assets {
  margin-top: .9285714rem;
  font-size: 1rem;
}

.account-assets span {
  display: block;
  margin-top: .6428571rem;
  font-size: 2.1428571rem;
}

.account-menu-list {
  margin-bottom: .7142857rem;
}

.account-menu-icon {
  width: 20px;
  height: 20px;
}

.account-menu {
  background-color: #fff;
}

.account-menu-item-wrapper {
  float: left;
  position: relative;
  width: 33.3333333%;
  height: 0;
  padding-top: 33.3333333%;
  overflow: hidden;
}

.account-menu-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.account-menu-item-content.first-column {
  border-left: none;
}

.account-menu-inner {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -1.8928572rem;
  text-align: center;
}

.account-menu-inner span {
  display: block;
}

.account-menu-icon {
  width: 1.7142857rem;
  height: 1.7142857rem;
  margin: 0 auto 1.0714286rem;
  background: transparent url(../images/icons/profiles_3x.png) no-repeat left center;
  background-size: auto 1.7142857rem;
  -webkit-background-size: auto 1.7142857rem;
}


/**充值*/

.account-menu-icon.icon-01 {
  background-position: -9.0714286rem center;
}


/**提现*/

.account-menu-icon.icon-02 {
  background-position: -2.2142857rem center;
}


/**银行卡*/

.account-menu-icon.icon-03 {
  background-position: 0.0714286rem center;
}


/**债权转让*/

.account-menu-icon.icon-04 {
  background-position: -20.7142857rem center;
}


/**交易记录*/

.account-menu-icon.icon-05 {
  background-position: -4.5rem center;
}


/**密码管理*/

.account-menu-icon.icon-06 {
  background-position: -22.9285714rem center;
}


/**帮助中心*/

.account-menu-icon.icon-07 {
  background-position: -16.1428571rem center;
}


/**客服热线*/

.account-menu-icon.icon-08 {
  background-position: -13.7857143rem center;
}


/**设置*/

.account-menu-icon.icon-09 {
  background-position: -11.4285714rem center;
}


/**安全保障*/

.account-menu-icon.icon-10 {
  background-position: -18.3571429rem center;
}


/**更多*/

.account-menu-icon.icon-11 {
  background-position: -6.7857143rem center;
}

.amount-wrapper {
  padding: .8571429rem 0;
  margin-top: 1.1428571rem;
  border: 1px solid #e7e7e7;
  border-radius: .2857143rem;
}

.amount-wrapper .table-cell {
  position: relative;
  padding: 0 .7857143rem;
  font-size: 0;
  color: #f9364d;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.amount-wrapper .table-cell.subtract,
.amount-wrapper .table-cell.plus {
  width: .8571429rem;
}

.amount-wrapper .table-cell.plus:before,
.amount-wrapper .table-cell.plus:after,
.amount-wrapper .subtract:before {
  display: block;
  content: "";
  width: .8571429rem;
  height: .1428571rem;
  background-color: #f9364d;
}

.amount-wrapper .table-cell.plus:before,
.amount-wrapper .table-cell.plus:after {
  position: absolute;
  top: 50%;
  margin-top: -0.0714286rem;
}

.amount-wrapper .table-cell.plus:after {
  width: .1428571rem;
  height: .8571429rem;
  top: 50%;
  left: 50%;
  margin-top: -0.4285714rem;
  margin-left: -0.0714286rem;
}

.amount-wrapper .amount-input {
  padding: .2857143rem .8571429rem 0;
  font-size: 1rem;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.recharge-group.has-card span {
  display: inline-block;
}

.recharge-group.has-card span small {
  display: block;
  margin-top: .3571429rem;
  color: #989898;
  font-style: italic;
}

.cashed-group.has-card .bank-icon,
.recharge-group.has-card .bank-icon {
  position: absolute;
  top: 1.0714286rem;
  left: 1.0714286rem;
  width: 1.7142857rem;
  height: 1.7142857rem;
  background-color: #000000
}

.cashed-group.has-card .bank-icon {
  top: .7142857rem;
}

.has-card {
  padding-left: 3.5rem;
}

.has-card .pull-right {
  margin-right: .7142857rem;
}

.header-nav {
  height: 3.2857143rem;
}

.bidinfo-tab,
.card-tab {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.bidinfo-tab .bidinfo-tab-item,
.card-tab .card-tab-item {
  float: left;
  position: relative;
  width: 50%;
  height: 3.2857143rem;
  list-style: none;
  line-height: 3.1428571rem;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}

.bidinfo-tab .bidinfo-tab-item {
  width: 33.3333333%;
}

.card-tab .card-tab-item a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bidinfo-tab .bidinfo-tab-item.active,
.card-tab .card-tab-item.active {
  border-color: #f9364d;
}

.card-tab .card-tab-item.active a {
  color: #f9364d;
  border-bottom: 1px solid #f9364d;
}

.card-container {
  width: 100%;
  overflow-x: hidden;
}

.card-item-container {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.card-item-content {
  position: relative;
  /*right: 3.8571429rem;*/
  padding: 1.2857143rem 0 1.0714286rem 0;
  transition: all linear .2s;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
}

.card-item-content.swiper-slide-active {
  padding-left: 1.0714286rem;
}

.card-item-content.swiper-slide-active .bank-item-icon {
  margin-left: -4rem;
}

.card-item-content> div {
  float: left;
}

.card-item-content .bank-name {
  margin-bottom: .8571429rem;
}

.remove-card {
  position: relative;
  width: 3.8571429rem;
  height: 100%;
  background-color: #f9364d;
}

.remove-card:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1.5714286rem;
  height: 1.9285714rem;
  margin: auto;
  background: url(../images/icons/icons_3x.png) no-repeat -25.5714286rem .4285714rem;
  background-size: 43.3333333rem auto;
  -webkit-background-size: 43.3333333rem auto;
}

.remove-card-notice {
  margin-top: 1.4285714rem;
  font-size: .8571429rem;
  color: #989898;
  text-align: center;
}

.remove-card-notice img {
  width: 1.5476190rem;
}

.remove-card-notice span {
  position: relative;
  top: -0.4285714rem;
  margin-left: .3571429rem;
}

.card-container,
.tab-swiper-container {
  height: 100%;
}

.card-item-wrapper,
.tab-content {
  overflow: hidden;
}


/* Arrows */

.swiper-arrow-prev,
.swiper-arrow-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-arrow-prev.swiper-button-disabled,
.swiper-arrow-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-arrow-prev {
  left: 10px;
  right: auto;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOS40ODQiIGhlaWdodD0iNTMuMTMiIHZpZXdCb3g9IjAgMCAyOS40ODQgNTMuMTMiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkZGIiBkPSJNMjEuODUzIDI3LjM4YzAtOS44MyAyLjU4LTE5LjAzMiA3LjA2My0yNi45NDJsLS4wMDgtLjAwOUwuNTY5IDI2LjM3NWwyNy40NTMgMjYuMzI2Yy0zLjkzMy03LjUzNS02LjE2OS0xNi4xNTgtNi4xNjktMjUuMzIxeiIvPjwvc3ZnPg==')
}

.swiper-arrow-next {
  right: 10px;
  left: auto;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOS40ODQiIGhlaWdodD0iNTMuMTMiIHZpZXdCb3g9IjAgMCAyOS40ODQgNTMuMTMiPjxwYXRoIGQ9Ik03LjYzMSAyNy4zOEM3LjYzMSAxNy41NDkgNS4wNSA4LjM0Ny41NjguNDM4TC41NzYuNDI5bDI4LjMzOSAyNS45NDVMMS40NjMgNTIuNzAyYzMuOTMzLTcuNTM1IDYuMTY4LTE2LjE1OSA2LjE2OC0yNS4zMjJ6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==')
}


/*基本信息*/

.essential-information {
  position: relative;
  width: 100%;
  height: auto;
}

.bidding-information {
  margin-top: 10px;
  background: #E8F9F8;
}

.bidding-information ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
}

.bidding-information li {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #F9364D;
}

.bidding-information li span {
  display: block;
  margin: 28px 0 10px 0;
  font-size: 14px;
  color: #5A5A5A;
}

.bidding-information li em {
  display: inline-block;
  font-size: 18px;
  color: #F9364D;
  font-style: normal;
}

.peer-omparison {
  padding: 0 15px 20px 15px;
  background: #fff;
}

.essential-badou:before {
  content: '';
  width: 7px;
  height: 7px;
  margin-right: 5px;
  display: inline-block;
  background: #FA364E;
  border-radius: 4px;
}

.essential-other:before {
  content: '';
  width: 7px;
  height: 7px;
  margin: 0px 5px 0 44px;
  display: inline-block;
  background: #1CC7B5;
  border-radius: 4px;
}

.omparison-img {
  width: 100%;
  height: auto;
  padding: 26px 0 26px 0;
}

.cashed-bottom {
  margin-bottom: 0;
}

.item-text {
  padding: 20px 0 15px 0;
  font-size: 14px;
  color: #989898;
}

.immediately-purchase {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #FA364E;
}


/*安全保障*/

.security-cont {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 3.5rem;
  overflow-y: scroll;
}

.project-introduction {
  margin: 0 30px;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  color: #696969;
}

.security-cont h2 {
  font-size: 16px;
  text-align: center;
}

.security-cont img {
  display: block;
  margin: 35px auto;
}

.security-title img {
  width: 100%;
  margin: 0 auto;
}


/*投标无记录*/

.toubiao-conten {
  width: 100%;
  height: auto;
  text-align: center;
}

.wujilu-img {
  width: 102px;
  height: 102px;
  margin: 117px auto 38px auto;
}

.toubiao-text {
  font-size: 14px;
  color: #989898;
}

.toubiao-go {
  width: 180px;
  margin-top: 119px;
  margin-bottom: 174px;
  padding: 13px 0;
  color: #fff;
  background: #f9364d;
  border-radius: 5px;
  font-size: 16px;
}


/*投标记录列表*/

.toubiao-list ul {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  background: #fff;
  font-size: 14px;
  color: #989898;
  border-top: 1px solid #E7E7E7;
}

.toubiao-list ul li {
  position: relative;
  border-bottom: 1px solid #E7E7E7;
}

.toubiao-list ul li span {
  display: inline-block;
  margin: 0 3px;
  padding: 14px 0 16px 0;
  text-align: center;
}

.toubiao-title {
  color: #5A5A5A;
}

.toubiao-name {
  width: 20.66666%;
}

.toubiao-name img {
  position: absolute;
  left: 15px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
}

.toubiao-name small {
  padding-left: 20px;
  font-size: 100%;
}

.toubiao-time {
  width: 38.46666%;
}

.toubiao-money {
  width: 22.33333%;
}

.no-records .toubiao-list,
.toubiao-wujilu {
  display: none;
}

.no-records .toubiao-wujilu {
  display: block;
}


/*资金分配*/

.capital-page {
  overflow: scroll;
  padding-bottom: 35px;
}

.capital-cont {
  width: 100%;
  height: auto;
}

.capital-cont p {
  line-height: 1.5;
  margin: 20px 15px;
  font-size: 14px;
  color: #5A5A5A;
}

.capital-img img {
  width: 80%;
  height: 100%;
  display: block;
  margin: 35px auto;
}

.capital-cont ul {
  height: 30px;
  margin: 15px;
  padding: 0;
  color: #5A5A5A;
  border-bottom: 1px solid #E7E7E7;
}

.capital-cont ul li {
  float: left;
  margin-right: 24px;
}

.mortgage:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background: #5FBED5;
  border-radius: 4px;
}

.car-loan:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background: #AE77E1;
  border-radius: 4px;
}

.allocation-funds {
  margin: 0 15px 10px 15px;
  border: 1px solid #E7E7E7;
}

.allocation-funds h2 {
  line-height: 1;
  margin: 10px 10px 0 10px;
  padding-left: 7px;
  font-size: 14px;
  color: #5A5A5A;
  border-left: 4px solid #F9364D;
}

.allocation-funds p {
  margin: 10px;
  color: #989898;
}