body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u2249 {
  position:absolute;
  left:10px;
  top:164px;
  width:614px;
  height:1205px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u2251 {
  position:absolute;
  left:0px;
  top:82px;
  width:50px;
  height:64px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u2253 {
  position:absolute;
  left:68px;
  top:94px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2255 {
  position:absolute;
  left:40px;
  top:260px;
  width:546px;
  height:970px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:40px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2257 {
  position:absolute;
  left:40px;
  top:260px;
  width:546px;
  height:40px;
  color:#C7D3DF;
}
#u2258 {
  position:absolute;
  left:2px;
  top:12px;
  width:542px;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:40px;
  top:299px;
  width:546px;
  height:160px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:72px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u2261 {
  position:absolute;
  left:271px;
  top:331px;
  width:85px;
  height:85px;
}
#u2262 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u2269 {
  position:absolute;
  left:43px;
  top:2222px;
  width:546px;
  height:90px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u2271 {
  position:absolute;
  left:43px;
  top:2222px;
  width:141px;
  height:90px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2273 {
  position:absolute;
  left:89px;
  top:2227px;
  width:50px;
  height:50px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2275 {
  position:absolute;
  left:91px;
  top:2277px;
  width:44px;
  height:29px;
  font-size:20px;
  color:#FFFFFF;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2277 {
  position:absolute;
  left:218px;
  top:2227px;
  width:50px;
  height:50px;
}
#u2278 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2279 {
  position:absolute;
  left:203px;
  top:2282px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2281 {
  position:absolute;
  left:350px;
  top:2227px;
  width:50px;
  height:50px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2283 {
  position:absolute;
  left:344px;
  top:2282px;
  width:104px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2284 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2285 {
  position:absolute;
  left:494px;
  top:2227px;
  width:50px;
  height:50px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2287 {
  position:absolute;
  left:481px;
  top:2282px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2288 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2292 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u2295 {
  position:absolute;
  left:40px;
  top:1140px;
  width:546px;
  height:90px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u2297 {
  position:absolute;
  left:40px;
  top:1140px;
  width:141px;
  height:90px;
}
#u2298 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2299 {
  position:absolute;
  left:86px;
  top:1145px;
  width:50px;
  height:50px;
}
#u2300 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2301 {
  position:absolute;
  left:88px;
  top:1195px;
  width:44px;
  height:29px;
  font-size:20px;
  color:#FFFFFF;
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2303 {
  position:absolute;
  left:215px;
  top:1145px;
  width:50px;
  height:50px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2305 {
  position:absolute;
  left:200px;
  top:1200px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2307 {
  position:absolute;
  left:347px;
  top:1145px;
  width:50px;
  height:50px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2309 {
  position:absolute;
  left:341px;
  top:1200px;
  width:104px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2310 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2311 {
  position:absolute;
  left:491px;
  top:1145px;
  width:50px;
  height:50px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2313 {
  position:absolute;
  left:478px;
  top:1200px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#C7D3DF;
}
#u2315 {
  position:absolute;
  left:55px;
  top:270px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#C7D3DF;
}
#u2316 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2318 {
  position:absolute;
  left:40px;
  top:640px;
  width:546px;
  height:47px;
  color:#C7D3DF;
}
#u2319 {
  position:absolute;
  left:2px;
  top:16px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2320 {
  position:absolute;
  left:68px;
  top:656px;
  width:169px;
  height:16px;
  color:#C7D3DF;
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#C7D3DF;
}
#u2322 {
  position:absolute;
  left:556px;
  top:653px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#C7D3DF;
}
#u2323 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2325 {
  position:absolute;
  left:40px;
  top:697px;
  width:546px;
  height:47px;
  color:#C7D3DF;
}
#u2326 {
  position:absolute;
  left:2px;
  top:16px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2327 {
  position:absolute;
  left:68px;
  top:713px;
  width:29px;
  height:16px;
  color:#C7D3DF;
}
#u2328 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#C7D3DF;
}
#u2329 {
  position:absolute;
  left:556px;
  top:710px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#C7D3DF;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2332 {
  position:absolute;
  left:40px;
  top:583px;
  width:546px;
  height:47px;
  color:#C7D3DF;
}
#u2333 {
  position:absolute;
  left:2px;
  top:16px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2334 {
  position:absolute;
  left:68px;
  top:599px;
  width:169px;
  height:16px;
  color:#C7D3DF;
}
#u2335 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#C7D3DF;
}
#u2336 {
  position:absolute;
  left:556px;
  top:596px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#C7D3DF;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2339 {
  position:absolute;
  left:40px;
  top:469px;
  width:546px;
  height:47px;
  color:#C7D3DF;
}
#u2340 {
  position:absolute;
  left:2px;
  top:16px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2341 {
  position:absolute;
  left:68px;
  top:485px;
  width:171px;
  height:16px;
  color:#C7D3DF;
}
#u2342 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#C7D3DF;
}
#u2343 {
  position:absolute;
  left:556px;
  top:482px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#C7D3DF;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2345 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2346 {
  position:absolute;
  left:40px;
  top:526px;
  width:546px;
  height:47px;
  color:#C7D3DF;
}
#u2347 {
  position:absolute;
  left:2px;
  top:16px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7D3DF;
}
#u2348 {
  position:absolute;
  left:68px;
  top:542px;
  width:201px;
  height:16px;
  color:#C7D3DF;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#C7D3DF;
}
#u2350 {
  position:absolute;
  left:556px;
  top:539px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#C7D3DF;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
