 * {
 	margin: 0;
 	padding: 0;
 }
 
 body {
 	font-family: "STHeitiSC-Light", "microsoft yahei", "arial, helvetica, sans-serif";
 	background-color: #f7f7f7;
 }
 
 .cashed-group {
 	position: relative;
 	padding: 1rem 1.0714286rem;
 	margin-bottom: 10px;
 	line-height: 1.1428571rem;
 	font-size: 1rem;
 	background-color: #fff;
 	border-bottom: 1px solid #e7e7e7;
 }
 
 .help-titles a:after {
 	float: right;
 	display: block;
 	content: "";
 	position: relative;
 	top: .5714286rem;
 	width: 1rem;
 	height: 1.7142857rem;
 	background: transparent url(./images/icons_3x.png) no-repeat -33.7857143rem 0.3571429rem;
 	background-size: 43.3333333rem auto;
 	-webkit-background-size: 43.3333333rem auto;
 }
 
 .help-titles a:after {
 	right: 1rem;
 }
 
 .help-titles a,
 .read-more {
 	display: block;
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 }
 
 .help-conten {
 	padding-top: 10px;
 	margin: 15px -15px -15px -15px;
 	border-top: 1px solid #E7E7E7;
 }
 
 .help-title {
 	margin: 7px 15px 0 15px;
 	padding-left: 6px;
 	line-height: 1;
 	font-size: 14px;
 	color: #5A5A5A;
 	border-left: 4px solid #f9364d;
 }
 
 .help-text {
 	margin: 7px 15px 15px 15px;
 	line-height: 1.5;
 	font-size: 14px;
 	color: #989898;
 }
 
 .read-more-open a:after {
 	float: right;
 	display: block;
 	content: "";
 	position: relative;
 	top: 13px;
 	width: 1rem;
 	height: 1.7142857rem;
 	background: transparent url(./images/icons_3x.png) no-repeat -517px 0.3571429rem;
 	background-size: 43.3333333rem auto;
 	-webkit-background-size: 43.3333333rem auto;
 }